.hamburgerContainer{
    position: fixed; /* Takes the element out of the flow */ 
    bottom: 0; /* Fixed to the bottom edge of the screen */ 
    left: 0; /* Fixed to the left edge of the screen */
    z-index: 10;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: white;
}

.NavHead{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 90px 0px 90px;
    width: 100%;
    font-size: var(--higlight-text);
    font-family: var(--secondary-font);
    color: var(--main-color);
}

.mainSection{
    /*Alignment*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-grow: 1;

}

.separator{
    
    border: 0;
    height: 1px;
    background: #333;
    width: 80%;
    margin: 20px 0;

}
.separator1{
    transform: translateY(-180px);
}

.navFooter{
    justify-self: flex-end;
    border-right: 4px solid var(--main-color);
    margin-bottom: 10px;
}