.hamburgerContainer{
    position: fixed; /* Takes the element out of the flow */ 
    bottom: 0; /* Fixed to the bottom edge of the screen */ 
    left: 0; /* Fixed to the left edge of the screen */
    z-index: 2;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: white;

}