.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 40px;
}


.testimonialContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.testimonialDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonialRating{
    width: 76px;
    background-color: aquamarine;
    height: 20px;
}

.image{
    width:85px ;
    background-color: antiquewhite;
}