.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--higlight-dark);
    padding-bottom: 20px;
    color: white;
    width: 70vw;
    border-radius: 10px;
    box-shadow: var(--button-shadow);
}


.testimonialContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.testimonialDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.testimonialRating{
    width: 76px;
    background-color: var(--higlight-light);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 50px;
}

.image{
    width:8rem;
    height: 8rem;
    background-color: antiquewhite;
    object-fit: cover;
    border-radius: 10px;
}

.testimonialRating img {
    width: 10px;
}

@media(min-width: 757px){
    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--higlight-dark);
    padding-bottom: 20px;
    color: white;
    width: 25vw;
    border-radius: 10px;
    box-shadow: var(--button-shadow);
}
}