.DishCard{
    border: 1px solid black;
    width: 292px;
    height: 360px;
}
.dishImage{
    background-color: gray;
    width: fit-content;
    height: auto;
    border: 1px solid black;
}

.dishContent{ /*Parent of the text content in the card*/
   
    padding: 10px 20px;
}

.paragraphText{
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size);
}

.emphazis{
font-size: var(--card-title-size-mobile);
}

/*Children dish content*/


.dishInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dishDescription{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dishCallToAction{
    display: flex;
    align-items: center;
    justify-content: space-between;
}