.titleSec {
    font-size: var(--section-title);
    text-align: center;
    font-family: var(--secondary-font);
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--paragraph-size);
    font-family: var(--secondary-font);
}

.formContainer > input {
    
    margin: 0 20% 20px;
    padding: 0 20px ;
    width: 70vw;
    height: 36px;
    background-color: var(--higlight-light);
    border: none;
    border-radius: 20px;
    

}

.formContainer > input:focus {
    
    outline: none;
    border: 2px solid var(--main-color) ;

}

.separator{
    width: 70vw;
    opacity: 20%;
}