.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.separator{
    width: 90vw;
    opacity: 60%;
}