.headerParentContainer {
    background-color: var(--main-color);
    padding: 20px;
    overflow: hidden;
}

.imageContainer{
    background-image: url('../../assets/Images/Tables-images-small.png');
    width:80vw;
    padding: 8px 20px ;
    object-fit: cover;
    border-radius: 20px;
    
}

.transparentBackground{
    background-color: var(--main-color);
    opacity: 95%;
    width: 70vw;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.transparentBackground > h1{
    font-size: var(--title-size-mobile);
    color: var(--secondary-color);
    margin: 0px;
}

.transparentBackground   > div >  strong{
        font-size: var(--card-title-size-mobile);
        color: var(--white);
        margin: 0;
}

.transparentBackground  > div > p{
    
        font-family: var(--secondary-font);
        font-size: var(--paragraph-size);
        color: var(--white);
        margin: 0;
        width: 90%;

}