.summaryContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(230, 230, 230, 0.5);
    border: 3px solid var(--main-color);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    flex-shrink: 1;
}

.summaryContainer > h1{
    font-size: var(--title-size-mobile);
    margin: 0;
}

.outerDataContainer{
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryDataContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    flex-shrink: 1;
    gap: 30px;
    padding: 0 10vw;
    
}

.dataContainer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    flex: 1 1 0;
    gap: 10px;
    padding: 0 20px;

    
}

.dataType{
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: var(--secondary-font);
    font-weight: bolder;
    width: 100%;
    
}
.dataType > h2{
    font-size: var(--paragraph-size);
    margin: 0;
}

.inputedData{
    font-family: var(--secondary-font);
    font-size: var(--section-categories);
    font-weight: light;
    background-color: rgba(237, 239, 238, 1);
    color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    text-align: center;
    
    
    

}

.inputedData:nth-of-type(2){
    flex: 2 0 20vh;
}
.inputedData > p{
    font-size: var(--section-categories);
    margin: 0;
}

.imgIcon{
    width: 20px;
    margin-left: 20px;
}

