
.transparentBackground > h1{
    font-size: var(--title-size-mobile);
    color: var(--secondary-color);
    margin: 0px;
}

.transparentBackground   > div >  strong{
        font-size: var(--card-title-size-mobile);
        color: var(--white);
        margin: 0;
}

.transparentBackground  > div > p{
    
        font-family: var(--secondary-font);
        font-size: var(--paragraph-size);
        color: var(--white);
        margin: 0;
        width: 90%;

}

/* 2. Desktop (Large screens) */
@media (min-width: 724px) {
  /* Desktop-specific layouts (e.g., sidebars appearing) */
  .headerParentContainer {
    background-color: var(--main-color);
    padding: 20px 40px;
    overflow: hidden;
    width: 100vw;
    }

    .mainContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .transparentBackground{
    
    
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    }
    .mainContainer > img{
        width: 30vw;;
    }
}
