@media (max-width: 768px){

.heroSection{
    display: flex;
    padding: 24px 20px;
    gap: 1rem 2rem;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color);
}

.heroContent {
    

    background-image: url("../../assets/Images/vista-superior-de-comida-en-mesa\ 1.png");
    text-align: center;
    border-radius: 50px;
    
}

.heroTextContainer{
    background-color: rgba(73, 94, 87, 0.43);
    backdrop-filter: blur(0.4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 4rem;
}

.heroH1 {
    font-size: var(--title-size-mobile);
    margin: 0;
    color: var(--secondary-color);
}

.strong{
    font-size: var(--card-title-size-mobile);
    color: var(--white);
}
.paragraphText {
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size);
    color: var(--white);
}

.image{
    background-color: beige;
    width: 30%;
    height: 163px;
    max-width: 100%;
    display: block;
    border-radius: var(--image-border-radius);
}

}