.section{
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    align-items: center;
    overflow: hidden;
    height: 40vh;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 80vw;
    text-align: left;
    padding-top: 0px;
    
}

.heading{
    margin: 0cap;
}
.content{
    width: 250px;
}


.image{
    align-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.textContainer > h1{
    font-size: var(--title-size-mobile);
    font-weight: light;
    color: var(--main-color);

}
.textContainer > strong{
    font-size: var(--card-title-size-mobile);
    color: var(--secondary-color);
}

.textContainer > p{
    font-size: var(--paragraph-size);
    font-family: var(--secondary-font);
    color: var(--higlight-dark);
}
