.ReservationSystemNav{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    padding: 20px 100px;
    margin: 0 50px;
    flex-grow: 0;
}

.returnButton {
    background-color: var(--main-color);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: none;
}

.returnButton:hover {
    opacity: 40%;
    cursor: pointer;
    
}