@media (max-width: 768px){

.SpecialDishesSection{
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.upperSection{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.subtitle{
    font-size: 2rem;
    font-weight: var(--subtitle-weight);
}

.specialDishesSection{
    display: flex;
    align-items: center;
    gap: 20px;
}
}