.blurBackground{
    width: 100vh;
    height: 100%;
    background-color: rgba(217, 217, 217, 80%);
    filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 9;
    position: fixed;
    top: 0;    
    left: 0;
    
}