.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    background-color: var(--higlight-light);
    width: 100%;
    padding: 20px;
}

.img{
    width: 50vw;
    border-radius: 20px;
    margin: auto;
}