.ComponentContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0px;
}

.ComponentContainer > .header > h2{
    font-size: var(--section-title);
    margin: 0px;
}

.ComponentContainer > .header > img{
    transform: scale(1.4);
}

.header{
    display: flex;
    gap: 20px;
    align-items: center;
}

.partyCounter{
    display: flex;
    gap: 20px;
    align-items: center;
}

.partyCounter > button{
    font-family: var(--secondary-font);
    font-size: var(--section-categories);
    font-weight: 750;
    background-color: var(--higlight-light);
    color: var(--main-color);
    padding: 5px ;
    border-radius: 100%;
    width: 38px;
    border: none;
}

.partyCounter > input{
    font-family: var(--secondary-font);
    font-size: var(--section-categories);
    font-weight: 750;
    background-color: var(--higlight-light);
    color: var(--main-color);
    padding: 5px ;
    border-radius: 10px;
    width: 100px;
    border: none;
    text-align: center;
}


/*Styling the separators*/

