
body {
  margin: 0;
  font-family: 'Markazi Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Styles*/

/*Hamburger toogle icon*/

.hamburgerIcon{
  background: none;
  border: none;
}

.hamburgerIcon:hover{
  
  
  transform: scale(1.1);
  opacity: 80%;
}