/*Animation*/

@keyframes occasionFade {
  from {
    opacity: 0;
    transform: translateY(10px); /* Starts slightly lower */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Ends in natural position */
  }
}

.ComponentContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0px;
    text-align: center;
}

.ComponentContainer > h2{
    font-size: var(--section-title);
    margin: 0px;
    width: fit-content;
}

.fieldInfoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.imageContainer{
    overflow: hidden;
    border-radius: 20%;
    box-shadow: var(--button-shadow);
    
}

.imageContainer > img {
    animation: occasionFade 3s ease-out forwards;
    width: 150px; 
    height: 140px;
    transform: scale(1.7);
    object-fit: cover;
    display: block;
}

.fieldData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.fieldData > label{
    font-family: var(--secondary-font);
    font-size: var(--section-categories);
    font-weight: bolder;
}

.fieldData > select{
    font-family: var(--secondary-font);
    font-size: var(--section-categories);
    font-weight: bolder;
   background-color: var(--higlight-light);
    color: var(--main-color);
    padding: 5px ;
    
    border-radius: 10px;
    text-align: center;
    border: none;
    
}

